body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
}

#rect1, #rect2, #rect3, #rect4, #rect5 {
	border-radius: 5px;
	width: 45vw;
    height: 9vh;
	padding: 2vh;
	padding-top: 3vh;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	margin-bottom: 2vh;
}

#backgroundImage {
	background-image: url("http://www.hotelroomsearch.net/im/hotels/tr/sunset-house-21.jpg");
	background-size: cover; 
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

/*#northStar {
	height: 6vh;
	width: 4vw;
}
*/

p {
	color: #585757;
	font-weight: bold;
}

#farleft {
/*	padding-top: 5vh;
*/	float: left;
	padding-left: 5vw;
	height: 55vh;
	width: 40vw;

	border-radius: 5px;
	padding: 2vh;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
}

#left, #right {
	float: left;
	padding-left: 5vw;
}

#formContainerSmall {
	border-radius: 5px;
	width: 100vw;
	padding-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 100vh;
	background-color: white;
	text-align: left;
}

#formTitleSmall {
	padding-left: 5vw;
	padding-top: 10vh;
	padding-bottom: 2vh;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

label {
	font-size: 0.8em;
	font-weight: bold;
	color: #585757;
}

input {
	height: 7vh;
	padding-left: 10px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	width: 49%;
}  

select {
	width: 50%;
	margin: 1vh;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
}

#formButtonSmall {
/*	position: absolute;
*//*	right: 5vw;
*/    bottom: 5vh;

	border-radius: 5px;
/*	float: center;
*/	width: 90vw;
	color: white;
	background-color: #F08080;
	margin-top: 2vh;
/*	margin-left: 5vw;
*/	padding: 10px;
}