body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
}

#backgroundImage {
	background-image: url("https://ssl.c.photoshelter.com/img-get2/I0000HA_U4HGPqM0/fit=1000x750/Once-upon-in-Brooklyn-NY.jpg");
	background-size: cover; 
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

label {
	font-size: 0.8em;
	font-weight: bold;
	color: #585757;
}

#formTitleSmall {
	padding-left: 5vw;
	padding-top: 10vh;
	padding-bottom: 2vh;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

#formContainerSmall {
	border-radius: 5px;
	width: 100vw;
	padding-top: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 100vh;
	background-color: white;
	text-align: left;
}

#rect1, #rect2, #rect3, #rect4, #rect5 {
	border-radius: 5px;
	width: 60vw;
    height: 8vh;
	padding: 2vh;
/*	padding-top: 3vh;
*/	border-width: 1px;
	border-style: solid;
	border-color: #D3D3D3;
	margin-bottom: 2vh;
/*	text-align: center;
*/}

#left {
	float: left;
	margin-left: 15vw;
}

#right {
	float: left;
	margin-left: 10vw;
}

.fulfilled {
	max-height: 100%;
	max-width: 50%;
	float: left;
}

label {
	padding-left: 5%;
	padding-right: 5%;
}

link, button {
/*	position: absolute;
*//*	right: 5vw;
*/    bottom: 5vh;

	border-radius: 5px;
/*	float: center;
*/	width: 50%;
	color: white;
	background-color: #F08080;
	margin-top: 2vh;
	margin-left: 25%;
	padding: 10px;
}