body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#backgroundImage {
  background-image: url("https://ssl.c.photoshelter.com/img-get2/I0000HA_U4HGPqM0/fit=1000x750/Once-upon-in-Brooklyn-NY.jpg");
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 3s linear;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}