<!-- TODO: 
HIGH PRIORITY
* Curate list of neighborhoods (neighborhood_cleansed) -- replace location text field to dropdown 
* Save form responses (since they will be sent somewhere)
* Add: Price range, # bedrooms, # beds
* Figure out redirects
* Where to host site
LOW PRIORITY
* Logo/north star on upper left hand side -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="/static/recommender/homePage.css" type="text/css">
  	<link rel="icon" href="favicon.png">
  	<!-- JS --> 
	<title>Airbnb Search Extension</title>
	</head>
	<body>
		<div id="backgroundImage">
<!-- 			<div id="logo">
				<img id="northStar" src="airbnblogo.png">
				<img id="northStar" src="favicon.png">
			</div> -->
			<div id="big">
				<div id="formContainer">
					<p id="formTitle"> Book your NYC stay. </p>
					<form name="homeForm" action="customize" method="post" onsubmit="return validateForm()"> 
						{% csrf_token %}
						<span>
							<label for="where">WHERE</label>
							<br />
						  	<select name="where" value="Midtown">
								<option>Allerton</option>
								<option>Arden Heights</option>
								<option>Arrochar</option>
								<option>Arverne</option>
								<option>Astoria</option>
								<option>Bath Beach</option>
								<option>Battery Park City</option>
								<option>Bay Ridge</option>
								<option>Bay Terrace</option>
								<option>Bay Terrace, Staten Island</option>
								<option>Baychester</option>
								<option>Bayside</option>
								<option>Bayswater</option>
								<option>Bedford-Stuyvesant</option>
								<option>Belle Harbor</option>
								<option>Bellerose</option>
								<option>Belmont</option>
								<option>Bensonhurst</option>
								<option>Bergen Beach</option>
								<option>Boerum Hill</option>
								<option>Borough Park</option>
								<option>Breezy Point</option>
								<option>Briarwood</option>
								<option>Brighton Beach</option>
								<option>Bronxdale</option>
								<option>Brooklyn Heights</option>
								<option>Brownsville</option>
								<option>Bull's Head</option>
								<option>Bushwick</option>
								<option>Cambria Heights</option>
								<option>Canarsie</option>
								<option>Carroll Gardens</option>
								<option>Castle Hill</option>
								<option>Castleton Corners</option>
								<option>Chelsea</option>
								<option>Chinatown</option>
								<option>City Island</option>
								<option>Civic Center</option>
								<option>Claremont Village</option>
								<option>Clason Point</option>
								<option>Clifton</option>
								<option>Clinton Hill</option>
								<option>Co-op City</option>
								<option>Cobble Hill</option>
								<option>College Point</option>
								<option>Columbia St</option>
								<option>Concord</option>
								<option>Concourse</option>
								<option>Concourse Village</option>
								<option>Coney Island</option>
								<option>Corona</option>
								<option>Country Club</option>
								<option>Crown Heights</option>
								<option>Cypress Hills</option>
								<option>Ditmars Steinway</option>
								<option>Dongan Hills</option>
								<option>Douglaston</option>
								<option>Downtown Brooklyn</option>
								<option>DUMBO</option>
								<option>Dyker Heights</option>
								<option>East Elmhurst</option>
								<option>East Flatbush</option>
								<option>East Harlem</option>
								<option>East Morrisania</option>
								<option>East New York</option>
								<option>East Village</option>
								<option>Eastchester</option>
								<option>Edenwald</option>
								<option>Edgemere</option>
								<option>Elmhurst</option>
								<option>Eltingville</option>
								<option>Emerson Hill</option>
								<option>Far Rockaway</option>
								<option>Fieldston</option>
								<option>Financial District</option>
								<option>Flatbush</option>
								<option>Flatiron District</option>
								<option>Flatlands</option>
								<option>Flushing</option>
								<option>Fordham</option>
								<option>Forest Hills</option>
								<option>Fort Greene</option>
								<option>Fort Hamilton</option>
								<option>Fort Wadsworth</option>
								<option>Fresh Meadows</option>
								<option>Gerritsen Beach</option>
								<option>Glen Oaks</option>
								<option>Glendale</option>
								<option>Gowanus</option>
								<option>Gramercy</option>
								<option>Graniteville</option>
								<option>Grant City</option>
								<option>Gravesend</option>
								<option>Great Kills</option>
								<option>Greenpoint</option>
								<option>Greenwich Village</option>
								<option>Grymes Hill</option>
								<option>Harlem</option>
								<option>Hell's Kitchen</option>
								<option>Highbridge</option>
								<option>Hollis</option>
								<option>Hollis Hills</option>
								<option>Holliswood</option>
								<option>Howard Beach</option>
								<option>Howland Hook</option>
								<option>Huguenot</option>
								<option>Hunts Point</option>
								<option>Inwood</option>
								<option>Jackson Heights</option>
								<option>Jamaica</option>
								<option>Jamaica Estates</option>
								<option>Jamaica Hills</option>
								<option>Kensington</option>
								<option>Kew Gardens</option>
								<option>Kew Gardens Hills</option>
								<option>Kingsbridge</option>
								<option>Kips Bay</option>
								<option>Laurelton</option>
								<option>Lighthouse Hill</option>
								<option>Little Italy</option>
								<option>Little Neck</option>
								<option>Long Island City</option>
								<option>Longwood</option>
								<option>Lower East Side</option>
								<option>Manhattan Beach</option>
								<option>Marble Hill</option>
								<option>Mariners Harbor</option>
								<option>Maspeth</option>
								<option>Melrose</option>
								<option>Middle Village</option>
								<option>Midland Beach</option>
								<option>Midtown</option>
								<option>Midwood</option>
								<option>Mill Basin</option>
								<option>Morningside Heights</option>
								<option>Morris Heights</option>
								<option>Morris Park</option>
								<option>Morrisania</option>
								<option>Mott Haven</option>
								<option>Mount Eden</option>
								<option>Mount Hope</option>
								<option>Murray Hill</option>
								<option>Navy Yard</option>
								<option>Neponsit</option>
								<option>New Brighton</option>
								<option>New Dorp</option>
								<option>New Dorp Beach</option>
								<option>New Springville</option>
								<option>NoHo</option>
								<option>Nolita</option>
								<option>North Riverdale</option>
								<option>Norwood</option>
								<option>Oakwood</option>
								<option>Olinville</option>
								<option>Ozone Park</option>
								<option>Park Slope</option>
								<option>Parkchester</option>
								<option>Pelham Bay</option>
								<option>Pelham Gardens</option>
								<option>Port Morris</option>
								<option>Port Richmond</option>
								<option>Prince's Bay</option>
								<option>Prospect-Lefferts Gardens</option>
								<option>Prospect Heights</option>
								<option>Queens Village</option>
								<option>Randall Manor</option>
								<option>Red Hook</option>
								<option>Rego Park</option>
								<option>Richmond Hill</option>
								<option>Richmondtown</option>
								<option>Ridgewood</option>
								<option>Riverdale</option>
								<option>Rockaway Beach</option>
								<option>Roosevelt Island</option>
								<option>Rosebank</option>
								<option>Rosedale</option>
								<option>Rossville</option>
								<option>Schuylerville</option>
								<option>Sea Gate</option>
								<option>Sheepshead Bay</option>
								<option>Shore Acres</option>
								<option>Silver Lake</option>
								<option>SoHo</option>
								<option>Soundview</option>
								<option>South Beach</option>
								<option>South Ozone Park</option>
								<option>South Slope</option>
								<option>Springfield Gardens</option>
								<option>Spuyten Duyvil</option>
								<option>St. Albans</option>
								<option>St. George</option>
								<option>Stapleton</option>
								<option>Stuyvesant Town</option>
								<option>Sunnyside</option>
								<option>Sunset Park</option>
								<option>Theater District</option>
								<option>Throgs Neck</option>
								<option>Todt Hill</option>
								<option>Tompkinsville</option>
								<option>Tottenville</option>
								<option>Tremont</option>
								<option>Tribeca</option>
								<option>Two Bridges</option>
								<option>Unionport</option>
								<option>University Heights</option>
								<option>Upper East Side</option>
								<option>Upper West Side</option>
								<option>Van Nest</option>
								<option>Vinegar Hill</option>
								<option>Wakefield</option>
								<option>Washington Heights</option>
								<option>West Brighton</option>
								<option>West Farms</option>
								<option>West Village</option>
								<option>Westchester Square</option>
								<option>Westerleigh</option>
								<option>Whitestone</option>
								<option>Williamsbridge</option>
								<option>Williamsburg</option>
								<option>Windsor Terrace</option>
								<option>Woodhaven</option>
								<option>Woodlawn</option>
								<option>Woodrow</option>
								<option>Woodside</option>
							</select>
					 	</span>
					 	<br />
					 	<span>
						  	<label for="nights">NIGHTS</label>
						  	<br />
						  	<input type="date" name="checkin" value="2018-12-12">
							<input type="date" name="checkout" value="2018-12-13">
						</span>
						<br />
						<span>
						  	<div>
						  	<label>$ PER NIGHT</label>
						  	<br />
						  	<input type="number" name="minPrice" min=1 value=100>
							<input type="number" name="maxPrice" min=1 value=500>
						</span>
						<br />
						<span>
						<div class="firstTwoFloaterBig">
						  	<label for="guests"># GUESTS</label>
						  	<br />
						  	<input class="third" type="number" name="guests" min=1 value=1> 
						</div>
						<!-- </span>
						<br />
						<span> -->
						<div class="firstTwoFloaterBig">
						  	<label for="beds"># BEDS</label>
						  	<br />
						  	<input class="third" type="number" name="beds" min=1 value=1> 
						</div>
						<div class="lastFloaterBig">
						  	<label for="bedrooms"># BEDROOMS</label>
						  	<br />
						  	<input class="third" type="number" name="rooms" min=1 value=1> 
						</div>
						<div id="formButtonUnit">
							<button id="formButton" type="submit">Search</button>
						</div>
					</form>
				</div>
			</div>
			<div id="small">
				<p id="formTitleSmall"> Book unique homes in NYC. </p>
				<div id="formContainerSmall">
					<form name="homeForm" action="customize" method="post" onsubmit="return validateForm()">
						{% csrf_token %}
						<span>
							<label for="where">WHERE</label>
							<br />
						  	<select name="where">
								<option>Allerton</option>
								<option>Arden Heights</option>
								<option>Arrochar</option>
								<option>Arverne</option>
								<option>Astoria</option>
								<option>Bath Beach</option>
								<option>Battery Park City</option>
								<option>Bay Ridge</option>
								<option>Bay Terrace</option>
								<option>Bay Terrace, Staten Island</option>
								<option>Baychester</option>
								<option>Bayside</option>
								<option>Bayswater</option>
								<option>Bedford-Stuyvesant</option>
								<option>Belle Harbor</option>
								<option>Bellerose</option>
								<option>Belmont</option>
								<option>Bensonhurst</option>
								<option>Bergen Beach</option>
								<option>Boerum Hill</option>
								<option>Borough Park</option>
								<option>Breezy Point</option>
								<option>Briarwood</option>
								<option>Brighton Beach</option>
								<option>Bronxdale</option>
								<option>Brooklyn Heights</option>
								<option>Brownsville</option>
								<option>Bull's Head</option>
								<option>Bushwick</option>
								<option>Cambria Heights</option>
								<option>Canarsie</option>
								<option>Carroll Gardens</option>
								<option>Castle Hill</option>
								<option>Castleton Corners</option>
								<option>Chelsea</option>
								<option>Chinatown</option>
								<option>City Island</option>
								<option>Civic Center</option>
								<option>Claremont Village</option>
								<option>Clason Point</option>
								<option>Clifton</option>
								<option>Clinton Hill</option>
								<option>Co-op City</option>
								<option>Cobble Hill</option>
								<option>College Point</option>
								<option>Columbia St</option>
								<option>Concord</option>
								<option>Concourse</option>
								<option>Concourse Village</option>
								<option>Coney Island</option>
								<option>Corona</option>
								<option>Country Club</option>
								<option>Crown Heights</option>
								<option>Cypress Hills</option>
								<option>Ditmars Steinway</option>
								<option>Dongan Hills</option>
								<option>Douglaston</option>
								<option>Downtown Brooklyn</option>
								<option>DUMBO</option>
								<option>Dyker Heights</option>
								<option>East Elmhurst</option>
								<option>East Flatbush</option>
								<option>East Harlem</option>
								<option>East Morrisania</option>
								<option>East New York</option>
								<option>East Village</option>
								<option>Eastchester</option>
								<option>Edenwald</option>
								<option>Edgemere</option>
								<option>Elmhurst</option>
								<option>Eltingville</option>
								<option>Emerson Hill</option>
								<option>Far Rockaway</option>
								<option>Fieldston</option>
								<option>Financial District</option>
								<option>Flatbush</option>
								<option>Flatiron District</option>
								<option>Flatlands</option>
								<option>Flushing</option>
								<option>Fordham</option>
								<option>Forest Hills</option>
								<option>Fort Greene</option>
								<option>Fort Hamilton</option>
								<option>Fort Wadsworth</option>
								<option>Fresh Meadows</option>
								<option>Gerritsen Beach</option>
								<option>Glen Oaks</option>
								<option>Glendale</option>
								<option>Gowanus</option>
								<option>Gramercy</option>
								<option>Graniteville</option>
								<option>Grant City</option>
								<option>Gravesend</option>
								<option>Great Kills</option>
								<option>Greenpoint</option>
								<option>Greenwich Village</option>
								<option>Grymes Hill</option>
								<option>Harlem</option>
								<option>Hell's Kitchen</option>
								<option>Highbridge</option>
								<option>Hollis</option>
								<option>Hollis Hills</option>
								<option>Holliswood</option>
								<option>Howard Beach</option>
								<option>Howland Hook</option>
								<option>Huguenot</option>
								<option>Hunts Point</option>
								<option>Inwood</option>
								<option>Jackson Heights</option>
								<option>Jamaica</option>
								<option>Jamaica Estates</option>
								<option>Jamaica Hills</option>
								<option>Kensington</option>
								<option>Kew Gardens</option>
								<option>Kew Gardens Hills</option>
								<option>Kingsbridge</option>
								<option>Kips Bay</option>
								<option>Laurelton</option>
								<option>Lighthouse Hill</option>
								<option>Little Italy</option>
								<option>Little Neck</option>
								<option>Long Island City</option>
								<option>Longwood</option>
								<option>Lower East Side</option>
								<option>Manhattan Beach</option>
								<option>Marble Hill</option>
								<option>Mariners Harbor</option>
								<option>Maspeth</option>
								<option>Melrose</option>
								<option>Middle Village</option>
								<option>Midland Beach</option>
								<option>Midtown</option>
								<option>Midwood</option>
								<option>Mill Basin</option>
								<option>Morningside Heights</option>
								<option>Morris Heights</option>
								<option>Morris Park</option>
								<option>Morrisania</option>
								<option>Mott Haven</option>
								<option>Mount Eden</option>
								<option>Mount Hope</option>
								<option>Murray Hill</option>
								<option>Navy Yard</option>
								<option>Neponsit</option>
								<option>New Brighton</option>
								<option>New Dorp</option>
								<option>New Dorp Beach</option>
								<option>New Springville</option>
								<option>NoHo</option>
								<option>Nolita</option>
								<option>North Riverdale</option>
								<option>Norwood</option>
								<option>Oakwood</option>
								<option>Olinville</option>
								<option>Ozone Park</option>
								<option>Park Slope</option>
								<option>Parkchester</option>
								<option>Pelham Bay</option>
								<option>Pelham Gardens</option>
								<option>Port Morris</option>
								<option>Port Richmond</option>
								<option>Prince's Bay</option>
								<option>Prospect-Lefferts Gardens</option>
								<option>Prospect Heights</option>
								<option>Queens Village</option>
								<option>Randall Manor</option>
								<option>Red Hook</option>
								<option>Rego Park</option>
								<option>Richmond Hill</option>
								<option>Richmondtown</option>
								<option>Ridgewood</option>
								<option>Riverdale</option>
								<option>Rockaway Beach</option>
								<option>Roosevelt Island</option>
								<option>Rosebank</option>
								<option>Rosedale</option>
								<option>Rossville</option>
								<option>Schuylerville</option>
								<option>Sea Gate</option>
								<option>Sheepshead Bay</option>
								<option>Shore Acres</option>
								<option>Silver Lake</option>
								<option>SoHo</option>
								<option>Soundview</option>
								<option>South Beach</option>
								<option>South Ozone Park</option>
								<option>South Slope</option>
								<option>Springfield Gardens</option>
								<option>Spuyten Duyvil</option>
								<option>St. Albans</option>
								<option>St. George</option>
								<option>Stapleton</option>
								<option>Stuyvesant Town</option>
								<option>Sunnyside</option>
								<option>Sunset Park</option>
								<option>Theater District</option>
								<option>Throgs Neck</option>
								<option>Todt Hill</option>
								<option>Tompkinsville</option>
								<option>Tottenville</option>
								<option>Tremont</option>
								<option>Tribeca</option>
								<option>Two Bridges</option>
								<option>Unionport</option>
								<option>University Heights</option>
								<option>Upper East Side</option>
								<option>Upper West Side</option>
								<option>Van Nest</option>
								<option>Vinegar Hill</option>
								<option>Wakefield</option>
								<option>Washington Heights</option>
								<option>West Brighton</option>
								<option>West Farms</option>
								<option>West Village</option>
								<option>Westchester Square</option>
								<option>Westerleigh</option>
								<option>Whitestone</option>
								<option>Williamsbridge</option>
								<option>Williamsburg</option>
								<option>Windsor Terrace</option>
								<option>Woodhaven</option>
								<option>Woodlawn</option>
								<option>Woodrow</option>
								<option>Woodside</option>
							</select>
					 	</span>
					 	<br />
					 	<span>
						  	<div>
						  	<label>NIGHTS</label>
						  	<br />
						  	<input type="date" name="checkin">
							<input type="date" name="checkout">
						</span>
						<br />
						<span>
						  	<div>
						  	<label>$ PER NIGHT</label>
						  	<br />
						  	<input type="number" name="minPrice" min=1 value=1>
							<input type="number" name="maxPrice" min=1 value=50>
						</span>
						<br />
						<div class="firstTwoFloaterSmall">
						  	<label for="guests"># GUESTS</label>
						  	<br />
						  	<input class="third" type="number" name="guests" min=1 value=1> 
						</div>
						</span>
						<!-- <br /> -->
						<span>
						<div class="firstTwoFloaterSmall">
						  	<label for="beds"># BEDS</label>
						  	<br />
						  	<input class="third" type="number" name="beds" min=1 value=1> 
						</div>
						<div class="lastFloaterSmall">
						  	<label for="bedrooms"># BEDROOMS</label>
						  	<br />
						  	<input class="third" type="number" name="rooms" min=1 value=1> 
						</div>
						<div id="formButtonUnit">
							<button id="formButtonSmall" type="submit">Search</button>
						</div>
					</span>
					</form>
				</div>
			</div>
		</div>

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script src="/static/recommender/myscripts.js"></script>
 	</body>
</html>