<!-- TODO: 
HIGH PRIORITY: 
* How to return rankings
* Fix undo / dragging and dropping over already-filled rectangle

LOW PRIORITY:
* Consider how to accomodate narrower screen size
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/appy/customizePage.css">
  	<link rel="icon" href="favicon.png">
  	<!-- JS --> 
	<title>Airbnb Search Extension</title>
	</head>
	<body>
		<div id="backgroundImage">
			<div id="small">
				<p id="formTitleSmall"> Rank what's most important to you. </p>
				<div id="formContainerSmall">
					<form action="./spinnyBoi.html">
						<div id="farleft">
<!-- 						<div id="farleft" ondrop="drop(event)" ondragover="allowDrop(event)">
 -->							<span id="feat1" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Cleanliness</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat2" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Check In</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat3" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Host Communication</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat4" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Good Location</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat5" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Cancellation Ease</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat6" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Superhost</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat7" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Price Per Person</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat8" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Dining</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<span id="feat9" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>Nightlife</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span>
							<br />
							<!-- <span id="feat10" draggable="true" draggable="true" ondragstart="drag(event)">
								<label>FEATURE 10</label>
								<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								</select>
							</span> -->
						</div>
						<div id="left">
							<div id="rect1" ondrop="drop(event)" ondragover="allowDrop(event)">1
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect2" ondrop="drop(event)" ondragover="allowDrop(event)">2
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect3" ondrop="drop(event)" ondragover="allowDrop(event)">3
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect4" ondrop="drop(event)" ondragover="allowDrop(event)">4
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect5" ondrop="drop(event)" ondragover="allowDrop(event)">5
						 	</div>
<!-- 						 	<br />
 -->						</div>
						<div id="right">
						 	<div id="rect6" ondrop="drop(event)" ondragover="allowDrop(event)">6
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect7" ondrop="drop(event)" ondragover="allowDrop(event)">7
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect8" ondrop="drop(event)" ondragover="allowDrop(event)">8
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect9" ondrop="drop(event)" ondragover="allowDrop(event)">9
						 	</div>
<!-- 						 	<br />
 -->						 	<div id="rect10" ondrop="drop(event)" ondragover="allowDrop(event)">10
						 	</div>
<!-- 						 	<br /> -->
						</div>
						<span id="formButtonUnit">
							<button id="formButtonSmall" type="submit">Find Listing</button>
						</span>
					</form>
				</div>
			</div>
		</div>

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script src="customizePage.js"></script>
 	</body>
</html>
