<!-- TODO: 
HIGH PRIORITY
* Curate list of neighborhoods (neighborhood_cleansed) -- replace location text field to dropdown 
* Save form responses (since they will be sent somewhere)
* Add: Price range, # bedrooms, # beds
* Where to host site

LOW PRIORITY
* Logo/north star on upper left hand side -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="/static/appy/homePage.css" type="text/css">
  	<link rel="icon" href="favicon.png">
  	<!-- JS --> 
	<title>Airbnb Search Extension</title>
	</head>
	<body>
		<div id="backgroundImage">
<!-- 			<div id="logo">
				<img id="northStar" src="airbnblogo.png">
				<img id="northStar" src="favicon.png">
			</div> -->
			<div id="big">
				<div id="formContainer">
					<p id="formTitle"> Book your NYC stay. </p>
					<form action="./customizePage.html">
						<span>
							<label>WHERE</label>
							<br />
						  	<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
					 	</span>
					 	<br />
					 	<span>
						  	<label>NIGHTS</label>
						  	<br />
						  	<input type="date" name="checkin">
							<input type="date" name="checkout">
						</span>
						<br />
						<span>
						<div class="firstTwoFloaterBig">
						  	<label for="guestField"># GUESTS</label>
						  	<br />
						  	<input class="third" type="number" name="numGuests" min=1 placeholder=1> 
						</div>
						<!-- </span>
						<br />
						<span> -->
						<div class="firstTwoFloaterBig">
						  	<label for="guestField"># BEDS</label>
						  	<br />
						  	<input class="third" type="number" name="numBeds" min=1 placeholder=1> 
						</div>
						<div class="lastFloaterBig">
						  	<label for="guestField"># BEDROOMS</label>
						  	<br />
						  	<input class="third" type="number" name="numRooms" min=1 placeholder=1> 
						</div>
						<div id="formButtonUnit">
							<button id="formButton" type="submit">Search</button>
						</div>
					</form>
				</div>
			</div>
			<div id="small">
				<p id="formTitleSmall"> Book unique homes in NYC. </p>
				<div id="formContainerSmall">
					<form action="./customizePage.html">
						<span>
							<label>WHERE</label>
							<br />
						  	<select>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
					 	</span>
					 	<br />
					 	<span>
						  	<div>
						  	<label>NIGHTS</label>
						  	<br />
						  	<input type="date" name="checkin">
							<input type="date" name="checkout">
						</span>
						<br />
						<div class="firstTwoFloaterSmall">
						  	<label for="guestField"># GUESTS</label>
						  	<br />
						  	<input class="third" type="number" name="numGuests" min=1 placeholder=1> 
						</div>
						</span>
						<!-- <br /> -->
						<span>
						<div class="firstTwoFloaterSmall">
						  	<label for="guestField"># BEDS</label>
						  	<br />
						  	<input class="third" type="number" name="numBeds" min=1 placeholder=1> 
						</div>
						<div class="lastFloaterSmall">
						  	<label for="guestField"># BEDROOMS</label>
						  	<br />
						  	<input class="third" type="number" name="numRooms" min=1 placeholder=1> 
						</div>
						<div id="formButtonUnit">
							<button id="formButtonSmall" type="submit">Search</button>
						</div>
					</span>
					</form>
				</div>
			</div>
		</div>

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <script src="/static/appy/myscripts.js"></script>
 	</body>
</html>
